# File generates by OS
*DS_Store*
.DS_Store
.Trash-*

# Application specific
node_modules
__pycache__
*.db
*.db*
.idea

# JavaScript Dependencies
Chart.min.js
jquery.min.js
moment.js

# Log stuff
.logs*

# Docker files
manager
leader
worker
temp_ips
manager_join_token.sh
worker_join_token.sh

# Asset files
.temp/
last_deployment

# Executables
bin
*.o
