# File generates by OS
*DS_Store*
.DS_Store
.Trash-*

# Application specific
node_modules
__pycache__
*.db
*.db*
.idea

# JavaScript Dependencies
Chart.min.js
jquery.min.js
moment.js

# Log stuff
.logs*

# Docker files
docker/deploy/assets
docker/assets/manager
docker/assets/leader
docker/assets/worker
docker/assets/temp_ips
docker/assets/manager_join_token.sh
docker/assets/worker_join_token.sh

# Temp files
*.o
assets/last_deployment
