img, .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video {
   width: 100%;
   height:400px;
}

table {

  // Override CSS rules from theme
  display: table !important;
  width: 100%;
}
